.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 11rem;
  height: 16rem;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 5px 5px 8px #ddd;
}

.eng {
  font-size: xx-small;
}
